<div *ngIf="company">
  <h2>{{company.name | uppercase}} Details</h2>
  <div><span>shortid: </span>{{company.shortid}}</div>
  <div><span>now: </span>{{company.now}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="company.name" placeholder="name" />
    </label>
  </div>
  <div>
    <label>carboncredit:
      <input [(ngModel)]="company.carboncredit" placeholder="carboncredit" />
    </label>    
  </div>
  <div>
    <label>electricity:
      <input [(ngModel)]="company.electricity" placeholder="electricity" />
    </label>    
  </div>
  <div>
    <label>gas:
      <input [(ngModel)]="company.gas" placeholder="gas" />
    </label>    
  </div>
  <div>
    <label>paper:
      <input [(ngModel)]="company.paper" placeholder="paper" />
    </label>    
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
